<div class="header">
    <h1><a href="/">首頁</a></h1>
    <nav class="nav nav-register">
        <% if(username){ %>
            <a href="/comments">TODO LIST</a>
            <a href="/logout">登出</a>
        <% }else{ %>
        <a href="/register">註冊</a>
        <a href="/login">登入</a>
        <% } %>
    </nav>
</div>

