.menu{
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 90px;
    background-color: #eee;
}
.menu h1{
    text-align: center;
}
.menu .nav button{
    padding: 6px 8px;
    width: 100px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 0 6px;
}
.menu .nav button:hover{
    background-color: #aaa;
    color: #fff;
}
.menu .wrap{
    display: flex;
    justify-content: center;
}


.container{
    width: 960px;
    margin: 0 auto;
    background-color: rgb(191, 226, 191);
    padding: 20px;
    box-sizing: border-box;
}
.container textarea{
    width: 100%;
    border: 1px solid #aaf;
}
.container button{
    background-color: #fff;
    border: 1px solid #aaf;
    padding: 6px 25px;
    margin-bottom: 0.5em;
}
.write{
    display: flex;
}
.pic{
    width: 50px;
    margin-right: 10px;
}
.pic img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}
.time,.message_content{
    padding: 4px;
}
.container_message{
    padding: 4px 0;
}